image: curlimages/curl:7.73.0

variables:
    NAME: "abdessamad"
    token: "fa8900d80b4a0b3141dbd19bfa50783571bdcd91"
   

run:
  script:
    - echo "hello $NAME"
    - echo "this is SHA $CI_COMMIT_SHA"
    
  after_script:
    - echo "the status of the job was $CI_JOB_STATUS"
    - >
        curl "https://api.github.com/repos/leadab/hello-world/statuses/$CI_COMMIT_SHA?access_token=$token" 
        -H "Content-Type: application/json" 
        -X POST 
        -d "{\"state\": \"success\", \"description\": \"new creds\"}"
    
