image: curlimages/curl:7.73.0

stages:
  - compile
  - analyse
  - test
  - deploy
  - status

compile_code:
  stage: compile
  script:
    - echo "this is a build stage"
    
  after_script:
    - >
        curl "https://api.github.com/repos/leadab/hello-world/statuses/$CI_COMMIT_SHA?access_token=$token" 
        -H "Content-Type: application/json" 
        -X POST 
        -d "{\"state\": \"$CI_JOB_STATUS\", \"description\": \"The job $CI_JOB_NAME status is: $CI_JOB_STATUS\", \"context\": \"Gitlab-$CI_JOB_STAGE\", \"target_url\": \"$CI_JOB_URL\" }"
           
test_code:
  stage: test
  script:
    - echoo "this is a test stage"
    
  after_script:
    - >
        curl "https://api.github.com/repos/leadab/hello-world/statuses/$CI_COMMIT_SHA?access_token=$token" 
        -H "Content-Type: application/json" 
        -X POST 
        -d "{\"state\": \"$CI_JOB_STATUS\", \"description\": \"The job $CI_JOB_NAME status is: $CI_JOB_STATUS\", \"context\": \"Gitlab-$CI_JOB_STAGE\", \"target_url\": \"$CI_JOB_URL\" }"
        
send_status:
  stage: status
  when: on_failure
  allow_failure: true
  script:
    - >
        curl "https://api.github.com/repos/leadab/hello-world/statuses/$CI_COMMIT_SHA?access_token=$token"         
        -H "Content-Type: application/json" 
        -X POST 
        -d "{\"state\": \"failure\", \"description\": \"The Pipeline's status is failed\", \"context\": \"Gitlab-final\", \"target_url\": \"$CI_JOB_URL\" }" 
 
