image: curlimages/curl:7.73.0
variables:
   var_link: curl "https://api.github.com/repos/leadab/hello-world/statuses/$CI_COMMIT_SHA?access_token=$token"
   var_content: "Content-Type: application/json" 
       
stages:
  - compile
  - analyse
  - test
  - deploy
  - status
  - final

compile_code:
  stage: compile
  script:
    - echo "this is a build stage"
    - echo $status_var
  after_script:
    - >
        curl "&var_link" 
        -H "&var_content" 
        -X POST 
        -d "{\"state\": \"$CI_JOB_STATUS\", \"description\": \"The job $CI_JOB_NAME status is: $CI_JOB_STATUS\", \"context\": \"Gitlab-$CI_JOB_STAGE\", \"target_url\": \"$CI_JOB_URL\" }"
          
test_code:
  stage: test
  script:
    - echo "this is a test stage"
    
  after_script:
    - >
        curl "&var_link" 
        -H "&var_content" 
        -X POST 
        -d "{\"state\": \"$CI_JOB_STATUS\", \"description\": \"The job $CI_JOB_NAME status is: $CI_JOB_STATUS\", \"context\": \"Gitlab-$CI_JOB_STAGE\", \"target_url\": \"$CI_JOB_URL\" }"
        
send_status:
  stage: status
  when: on_failure
  allow_failure: true
  script:
    - >
        curl "&var_link" 
        -H "&var_content"
        -X POST 
        -d "{\"state\": \"failure\", \"description\": \"The Pipeline's status is failed\", \"context\": \"Gitlab-final\", \"target_url\": \"$CI_JOB_URL\" }" 
